@model IEnumerable<MP_Group3_StockManagement.Models.Product>

@{
    ViewBag.Title = "Product List";
}

<h2>Product List</h2>

<p>
    @Html.ActionLink("Add New Product", "AddProduct", null, new { @class = "btn btn-success" })
</p>




<div class="form-row">
    <div class="col">

        @using (Html.BeginForm("Index", "Product", FormMethod.Get))
        {
            <div class="form-row">
                <div class="input-group">
                    @Html.TextBox("search", "", new { @class = "form-control", @placeholder = "Search Product" })
                    <div class="input-group-append">
                        <input type="submit" value="Search" class="btn btn-secondary" />
                    </div>
                </div>
            </div>
        }

    </div>

    <div class="col">

        <div class="form-group ml-5">
            <div class="btn-group">
                <button id="InCirc" class="btn btn-outline-info">In Circulation</button>
                <button id="NotInCirc" class="btn btn-outline-info">Not in Circulation</button>
                <button id="All" class="btn btn-outline-info">All Products</button>
            </div>
        </div>

    </div>

</div>



<br />
<div id="filterProduct">
    @Html.Partial("_Filter")
</div>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/jquery")
}

<script src="~/Scripts/jquery-3.4.1.js" type="text/javascript"></script>
<script src="~/Scripts/jquery-3.4.1.min.js" type="text/javascript"></script>
<script type="text/javascript">
    var url = '@Url.Action("FilterProducts", "Product")';

    $(function () {
        $('#InCirc').click(function () {
            var keyWord = "in";
            $('#filterProduct').load(url, { filter: keyWord });
        })

        $('#NotInCirc').click(function () {
            var keyWord = "notCirc";
            $('#filterProduct').load(url, { filter: keyWord });
        })

        $('#All').click(function () {
            var keyWord = "all";
            $('#filterProduct').load(url, { filter: keyWord });
        })
    });
</script>
