@model IEnumerable<MP_Group3_StockManagement.Models.Supplier>

@{
    ViewBag.Title = "Supplier List";
}

<h2>Supplier List</h2>

<p>
    @if (User.IsInRole("Admin"))
    {
        @Html.ActionLink("Add New Supplier", "AddSupplier", null, new { @class = "btn btn-success" })
    }
</p>

@using (Html.BeginForm("Index", "Supplier", FormMethod.Get))
{
    <div class="input-group">
        @Html.TextBox("search", "", new { @class = "form-control", @placeholder = "Search Supplier Name" })
        <div class="input-group-append">
            <input type="submit" value="Search" class="btn btn-secondary" />
        </div>
    </div>
}

<br />
<table id="SupplierTable" class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.SupplierID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SupplierName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SupplierAddress)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SupplierContact)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        using (Html.BeginForm("DeleteSupplier", "Supplier", new { id = item.SupplierID }))
        {
            <tr id="@item.SupplierID">
                <td>
                    @Html.DisplayFor(modelItem => item.SupplierID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SupplierName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SupplierAddress)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SupplierContact)
                </td>
                <td>
                    @Html.ActionLink("Edit", "EditSupplier", new { id = item.SupplierID }, new { @class = "btn btn-secondary" }) |

                    @Html.ActionLink("Details", "Details", new { id = item.SupplierID }, new { @class = "btn btn-info" }) |

                    @if (User.IsInRole("Admin"))
                    {
                        <input type="submit" value="Delete" class="btn btn-danger" onclick="return confirm('Are you sure you want to delete the supplier: @item.SupplierName?')" />
                    }
                </td>
            </tr>
        }

    }

</table>


@section Scripts {
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
}